<div class="container">
  <div class="row">
    <div class="col-lg-7, mx-auto">
      <h2><%= @user.name %>のフォロー一覧</h2>
      <%= render "relationships/follow_list", users: @users %>
    </div>
  </div>
</div>