<div class="container">
  <div class="row">
    <div class="col-lg-7, mx-auto">
      <div>
        <%= attachment_image_tag @user, :profile_image_id %>
        <%= @user.name %>
      </div>
      <div>
        フォロー数　フォロワー数　投稿数
      </div>
      <%= @post.each do |post| %>
        <div class="col-md-4">
          <%= attachment_image_tag post, :image %>
          <p>iine</p>
          <p>comment</p>
        </div>
      <% end %>
    </div>
  </div>
</div>