<div class="container">
  <div class="row text-center">
    <div class="col">
      <h2>ようこそ、ExchangeImpressionsへ！</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <p>ここでは、自分の行った所の感想を共有したり、<br/>他者の行った所の感想を共有してもらうことができます。</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      アカウントをお持ちでない方はこちら→<%= link_to "新規登録", new_user_registration_path, class: "btn btn-success" %>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      すでにアカウントをお持ちの方はこちら→<%= link_to "ログイン", new_user_session_path, class: "btn btn-success" %>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      ゲストで使いたい方はこちら→<%= link_to "投稿一覧へ", posts_path %>
    </div>
  </div>
</div>