<div class="container">
  <div class="row">
    <div class="col-lg-7, mx-auto">
      <table>
        <tr><%= @post.place %></tr>
        <tr><%= attachment_image_tag @post, :image %></tr>
        <tr>評価</tr>
        <tr><%= @post.body %></tr>
        <tr><%= render_with_hashtags(@post.caption) %></tr>
        <tr>いいねテンプレートで持ってくる</tr>
      </table>
      
    </div>
  </div>
  <div class="row">
    <p>コメントテンプレートで持ってくる</p>
  </div>
</div>