<div class="container m-5 text-center">
  <div class="row">
    <p>gazou</p>
    <p>行った場所</p>
    <p>文章</p>
    <p><%= render_with_hashtags(@post.caption) %></p>
    <p>iine</p>
    <p>comment</p>
  </div>
  <div class="row">
    <p>コメント追加</p>
  </div>
</div>