<div class="container">
  <div class="row">
    <div class="col-lg-7, mx-auto">
      <table class="table">
        <tr>
          <th>行った場所</th>
          <th><%= @post.place %></th>
        </tr>
        <tr>
          <th>評価</th>
          <th></th>
        </tr>
      </table>
      <div>
        <% @post.post_images.each do |post_image| %>
          <%= attachment_image_tag post_image, :image, :fill, 500, 300 %>
        <% end %>
      </div>
      <div>
        <%= @post.body %>
      </div>
      <div>
        <%= render_with_hashtags(@post.hashbody) %>
      </div>
      <div>
        いいねテンプレートで持ってくる
      </div>
      <div>
        <p>コメントテンプレートで持ってくる</p>
      </div>
    </div>
  </div>
</div>